{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "CosmosDbConnection": "<read-only-detections-cosmos-db-connection-string>",
        "CosmosDbDatabase": "predictions",
        "CosmosDbContainer": "metadata",
        "NotificationCosmosDbConnection": "<read-write-notifications-cosmos-db-connection-string>",
        "NotificationCosmosDbDatabase": "orcasound-cosmosdb",
        "NotificationCosmosDbContainer": "Notifications",
        "SenderEmail": "<your-sender-email@example.com>",
        "AwsRegion": "us-west-2",
        "LocationId": "<hydrophone-location-id>",
        "RecipientEmail": "<notification-recipient@example.com>",
        "NotificationPeriodMinutes": "60",
        "DetectionPeriodMinutes": "15"
    }
}
